@-webkit-keyframes font-bounce {
  0%,
  100% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  50% {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
}

@keyframes font-bounce {
  0%,
  100% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  50% {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
}

header {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 92px;
  background-color: #083E7B;
  box-shadow: 0 5px 10px black;
}

@media (max-width: 950px) {
  header {
    height: 50px;
    box-shadow: none;
  }
}

@media (max-width: 500px) {
  header {
    height: 40px;
    box-shadow: none;
  }
}

header .nav-display-button {
  font-family: teko;
  position: absolute;
  right: 5%;
  display: none;
  height: 100%;
  color: white;
}

@media (max-width: 950px) {
  header .nav-display-button {
    display: block;
  }
}

header .nav-display-button p {
  font-size: 21px;
  font-weight: 300;
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .nav-display-button button {
  width: 30px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: #009A6C;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .nav-wrapper {
  position: absolute;
  right: 60px;
  width: 30%;
  min-width: 498px;
  height: 100%;
}

@media (max-width: 950px) {
  header .nav-wrapper {
    top: 50px;
    right: 0;
    display: none;
    width: 100%;
    min-width: 0;
  }
}

@media (max-width: 500px) {
  header .nav-wrapper {
    top: 40px;
  }
}

header .nav-wrapper .navbar {
  width: 100%;
  height: 100%;
}

header .nav-wrapper .navbar .nav-item {
  display: block;
  float: left;
  width: 33.33333%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
  text-align: center;
  text-decoration: none;
  color: white;
}

@media (max-width: 950px) {
  header .nav-wrapper .navbar .nav-item {
    float: none;
    width: 100%;
    border-top: 1px solid #009A6C;
    border-bottom: 1px solid #009A6C;
    background-color: #083E7B;
  }
}

@media (max-width: 500px) {
  header .nav-wrapper .navbar .nav-item {
    height: 40px;
  }
}

header .nav-wrapper .navbar .nav-item:last-child:hover:before,
header .nav-wrapper .navbar .nav-item:last-child.active:before {
  left: 81.66667% !important;
}

header .nav-wrapper .navbar .nav-item:last-child:hover:after,
header .nav-wrapper .navbar .nav-item:last-child.active:after {
  left: 66.66667% !important;
}

header .nav-wrapper .navbar .nav-item.active {
  color: #EA5100;
}

header .nav-wrapper .navbar .nav-item:hover {
  color: #EA5100;
}

header .nav-wrapper .navbar .nav-item li {
  font-family: teko;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 500px) {
  header .nav-wrapper .navbar .nav-item li {
    font-size: 18px;
  }
}

header .indicator .nav-item:nth-child(1).active ~ .nav-item:last-child:after {
  left: 0%;
}

header .indicator .nav-item:nth-child(1).active ~ .nav-item:last-child:before {
  left: 15%;
}

header .indicator .nav-item:nth-child(1):hover ~ .nav-item:last-child:after {
  left: 0% !important;
}

header .indicator .nav-item:nth-child(1):hover ~ .nav-item:last-child:before {
  left: 15% !important;
}

header .indicator .nav-item:nth-child(2).active ~ .nav-item:last-child:after {
  left: 33.33333%;
}

header .indicator .nav-item:nth-child(2).active ~ .nav-item:last-child:before {
  left: 48.33333%;
}

header .indicator .nav-item:nth-child(2):hover ~ .nav-item:last-child:after {
  left: 33.33333% !important;
}

header .indicator .nav-item:nth-child(2):hover ~ .nav-item:last-child:before {
  left: 48.33333% !important;
}

header .indicator .nav-item:last-child:before,
header .indicator .nav-item:last-child:after {
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: .3s all ease-in-out;
          transition: .3s all ease-in-out;
}

@media (max-width: 950px) {
  header .indicator .nav-item:last-child:before,
  header .indicator .nav-item:last-child:after {
    display: none;
  }
}

@media (max-width: 500px) {
  header .indicator .nav-item:last-child:before,
  header .indicator .nav-item:last-child:after {
    display: none;
  }
}

header .indicator .nav-item:last-child:before {
  top: 0;
  left: 15%;
  width: 0;
  height: 0;
  margin: -1px;
  border: 10px solid transparent;
  border-top-color: #EA5100;
}

header .indicator .nav-item:last-child:after {
  z-index: -1;
  top: -7px;
  bottom: -15px;
  left: 0;
  width: 33.33333%;
  background-color: #EA5100;
}

.divider {
  width: 100%;
  height: 75px;
  background-color: #009A6C;
}

footer {
  font-family: dosis, sans-serif;
  padding: 75px 0 50px;
  color: white;
  background-color: #083E7B;
}

footer .container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 950px) {
  footer .container {
    width: 100%;
  }
}

footer .container .about,
footer .container .links,
footer .container .bottom-nav {
  float: left;
  width: 33.33333%;
  padding: 0 30px;
}

@media (max-width: 950px) {
  footer .container .about,
  footer .container .links {
    width: 50%;
  }
  footer .container .bottom-nav {
    width: 100%;
    padding-top: 40px;
  }
}

@media (max-width: 500px) {
  footer .container .about,
  footer .container .links,
  footer .container .bottom-nav {
    width: 100%;
  }
  footer .container .links,
  footer .container .bottom-nav {
    padding-top: 30px;
  }
}

footer .about img {
  float: left;
  width: 89.5px;
  height: 109.5px;
  margin: 5px 10px 0 0;
}

footer .about p {
  line-height: 21px;
}

footer .links {
  line-height: 21px;
  text-align: center;
}

footer .links .wrapper {
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  footer .links .wrapper {
    display: inline-block;
    width: auto;
  }
}

footer .links .wrapper a {
  -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
  color: white;
}

footer .links .wrapper a:hover {
  color: #FF6E20;
}

footer .links .wrapper a i {
  font-size: 32px;
  margin-right: 10px;
  -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
  vertical-align: top;
}

footer .links .wrapper p {
  font-size: 18px;
  display: inline-block;
  width: 65%;
  text-align: left;
}

@media (max-width: 500px) {
  footer .links .wrapper p {
    display: none;
  }
}

footer .links .wrapper p a {
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #47CB00;
}

footer .links .wrapper p a:hover {
  color: #FF6E20;
}

@media (max-width: 950px) {
  footer .bottom-nav {
    text-align: center;
  }
}

footer .bottom-nav a {
  font-family: teko, sans-serif;
  font-size: 28px;
  font-weight: 300;
  position: relative;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #47CB00;
}

@media (max-width: 950px) {
  footer .bottom-nav a {
    display: inline-block;
    margin-right: 15px;
  }
}

@media (max-width: 500px) {
  footer .bottom-nav a {
    font-size: 18px;
  }
}

footer .bottom-nav a:hover {
  color: #FF6E20;
}

footer .bottom-nav p {
  margin: 5px 0 10px;
}

@media (max-width: 950px) {
  footer .bottom-nav p {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.clearfix {
  clear: both;
}

.main {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 900px;
  padding-top: 200px;
  background-color: #009A6C;
}

@media (max-width: 500px) {
  .main {
    padding-top: 100px;
  }
}

.main .frame {
  position: relative;
  width: 60%;
  height: 600px;
  margin: 0 auto;
  padding-top: 25px;
  background-color: #0B4E98;
  box-shadow: 3px 7px 15px black;
}

@media (max-width: 950px) {
  .main .frame {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .main .frame {
    height: 750px;
  }
}

.main .frame .wrapper.name {
  float: left;
  margin-left: 250px;
}

@media (max-width: 950px) {
  .main .frame .wrapper.name {
    margin-left: 10%;
  }
}

@media (max-width: 500px) {
  .main .frame .wrapper.name {
    float: none;
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

.main .frame .wrapper.email {
  float: right;
  margin-right: 250px;
}

@media (max-width: 950px) {
  .main .frame .wrapper.email {
    margin-right: 10%;
  }
}

@media (max-width: 500px) {
  .main .frame .wrapper.email {
    float: none;
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

.main .frame #form-title {
  font-family: teko, sans-serif;
  font-size: 32px;
  position: relative;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}

.main .frame #form-title:after {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  width: 20%;
  height: 3px;
  margin: 0 auto;
  content: '';
  background-color: #EA5100;
}

.main .frame label {
  font-family: teko, sans-serif;
  font-size: 32px;
  font-size: 21px;
  display: block;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 500px) {
  .main .frame label {
    text-align: center;
  }
}

.main .frame #message-label,
.main .frame #message {
  margin-left: 250px;
}

@media (max-width: 950px) {
  .main .frame #message-label,
  .main .frame #message {
    margin-left: 10%;
  }
}

@media (max-width: 500px) {
  .main .frame #message-label,
  .main .frame #message {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .main .frame #message {
    width: 90%;
    margin: 0 5%;
  }
}

.main .frame #send-button {
  font-family: teko, sans-serif;
  font-size: 28px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px 40px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #EA5100;
}

.main .frame #send-button:hover {
  color: #EA5100;
  border: 2px solid #EA5100;
  background-color: transparent;
}
