@-webkit-keyframes font-bounce {
  0%,
  100% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  50% {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
}

@keyframes font-bounce {
  0%,
  100% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  50% {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
}

header {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 92px;
  background-color: #083E7B;
  box-shadow: 0 5px 10px black;
}

@media (max-width: 800px) {
  header {
    height: 50px;
    box-shadow: none;
  }
}

@media (max-width: 500px) {
  header {
    height: 40px;
    box-shadow: none;
  }
}

header .nav-display-button {
  font-family: teko;
  position: absolute;
  right: 5%;
  display: none;
  height: 100%;
  color: white;
}

@media (max-width: 800px) {
  header .nav-display-button {
    display: block;
  }
}

header .nav-display-button p {
  font-size: 21px;
  font-weight: 300;
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .nav-display-button button {
  width: 30px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: #009A6C;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .nav-wrapper {
  position: absolute;
  right: 60px;
  width: 30%;
  min-width: 498px;
  height: 100%;
}

@media (max-width: 800px) {
  header .nav-wrapper {
    top: 50px;
    right: 0;
    display: none;
    width: 100%;
    min-width: 0;
  }
}

@media (max-width: 500px) {
  header .nav-wrapper {
    top: 40px;
  }
}

header .nav-wrapper .navbar {
  width: 100%;
  height: 100%;
}

header .nav-wrapper .navbar .nav-item {
  display: block;
  float: left;
  width: 33.33333%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
  text-align: center;
  text-decoration: none;
  color: white;
}

@media (max-width: 800px) {
  header .nav-wrapper .navbar .nav-item {
    float: none;
    width: 100%;
    border-top: 1px solid #009A6C;
    border-bottom: 1px solid #009A6C;
    background-color: #083E7B;
  }
}

@media (max-width: 500px) {
  header .nav-wrapper .navbar .nav-item {
    height: 40px;
  }
}

header .nav-wrapper .navbar .nav-item:last-child:hover:before,
header .nav-wrapper .navbar .nav-item:last-child.active:before {
  left: 81.66667% !important;
}

header .nav-wrapper .navbar .nav-item:last-child:hover:after,
header .nav-wrapper .navbar .nav-item:last-child.active:after {
  left: 66.66667% !important;
}

header .nav-wrapper .navbar .nav-item.active {
  color: #EA5100;
}

header .nav-wrapper .navbar .nav-item:hover {
  color: #EA5100;
}

header .nav-wrapper .navbar .nav-item li {
  font-family: teko;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 500px) {
  header .nav-wrapper .navbar .nav-item li {
    font-size: 18px;
  }
}

header .indicator .nav-item:nth-child(1).active ~ .nav-item:last-child:after {
  left: 0%;
}

header .indicator .nav-item:nth-child(1).active ~ .nav-item:last-child:before {
  left: 15%;
}

header .indicator .nav-item:nth-child(1):hover ~ .nav-item:last-child:after {
  left: 0% !important;
}

header .indicator .nav-item:nth-child(1):hover ~ .nav-item:last-child:before {
  left: 15% !important;
}

header .indicator .nav-item:nth-child(2).active ~ .nav-item:last-child:after {
  left: 33.33333%;
}

header .indicator .nav-item:nth-child(2).active ~ .nav-item:last-child:before {
  left: 48.33333%;
}

header .indicator .nav-item:nth-child(2):hover ~ .nav-item:last-child:after {
  left: 33.33333% !important;
}

header .indicator .nav-item:nth-child(2):hover ~ .nav-item:last-child:before {
  left: 48.33333% !important;
}

header .indicator .nav-item:last-child:before,
header .indicator .nav-item:last-child:after {
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: .3s all ease-in-out;
          transition: .3s all ease-in-out;
}

@media (max-width: 800px) {
  header .indicator .nav-item:last-child:before,
  header .indicator .nav-item:last-child:after {
    display: none;
  }
}

@media (max-width: 500px) {
  header .indicator .nav-item:last-child:before,
  header .indicator .nav-item:last-child:after {
    display: none;
  }
}

header .indicator .nav-item:last-child:before {
  top: 0;
  left: 15%;
  width: 0;
  height: 0;
  margin: -1px;
  border: 10px solid transparent;
  border-top-color: #EA5100;
}

header .indicator .nav-item:last-child:after {
  z-index: -1;
  top: -7px;
  bottom: -15px;
  left: 0;
  width: 33.33333%;
  background-color: #EA5100;
}

.jumbotron {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 100vh;
  min-height: 300px;
  margin-bottom: 0;
  background-color: #009A6C;
}

.jumbotron .tagline {
  font-family: teko;
  font-size: 3vw !important;
  font-weight: 300;
  width: 85%;
  margin: 0 auto;
  padding-top: 35vh;
  text-align: center;
  letter-spacing: .5vw;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 800px) {
  .jumbotron .tagline {
    padding-top: 30vh;
  }
}

@media (max-width: 500px) {
  .jumbotron .tagline {
    padding-top: 20vh;
  }
}

.jumbotron .tagline h1 {
  font-size: 3vw;
}

@media (max-width: 800px) {
  .jumbotron .tagline h1 {
    font-size: 4vw;
  }
}

@media (max-width: 500px) {
  .jumbotron .tagline h1 {
    font-size: 6vw;
  }
}

.jumbotron .scroll-button-wrapper {
  position: absolute;
  bottom: 5vh;
  width: 100%;
}

.jumbotron .scroll-button-wrapper .scroll-button {
  font-family: dosis;
  font-size: 2vw;
  width: 20vw;
  margin: 0 auto;
  -webkit-transition: color 0.3s ease-in-out, -webkit-transform 0.5s ease-in-out;
          transition: color 0.3s ease-in-out, transform 0.5s ease-in-out;
  text-align: center;
  letter-spacing: .1vw;
  text-transform: capitalize;
  color: white;
}

.jumbotron .scroll-button-wrapper .scroll-button:hover {
  cursor: pointer;
  -webkit-transform: translateY(-15%);
      -ms-transform: translateY(-15%);
          transform: translateY(-15%);
  -webkit-animation: font-bounce 1s infinite 0.5s;
          animation: font-bounce 1s infinite 0.5s;
  color: #FF6E20;
}

.jumbotron .scroll-button-wrapper .scroll-button p {
  font-size: 2vw;
}

@media (max-width: 800px) {
  .jumbotron .scroll-button-wrapper .scroll-button p {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .jumbotron .scroll-button-wrapper .scroll-button p {
    font-size: 18px;
  }
}

.project {
  position: relative;
  height: 300px;
  padding: 0;
  text-align: center;
  background-image: url(../resources/460x300.jpg);
  background-position: center;
  background-size: cover;
}

@media (max-width: 500px) {
  .project {
    height: 175px;
  }
}

.project:after {
  font-family: dosis, sans-serif;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: auto;
  padding: 5px;
  content: '';
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  text-align: left;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.project:hover > .icon {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.project:hover:after {
  width: 100%;
  opacity: 1;
}

.project .icon {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  text-align: center;
  background-color: black;
}

.project .icon img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.project.sage {
  background-image: url(../resources/projects/sage-screenshot.png);
}

.project.sage:after {
  content: 'SCSS, jQuery';
}

.project.sage .icon {
  background-color: #352d2f;
}

.project.sage .icon img {
  width: 140px;
  height: 100px;
}

.project.roland {
  background-image: url(/resources/projects/roland%20screenshot.png);
}

.project.roland:after {
  content: 'SCSS';
}

.project.roland .icon {
  background-color: #f54d02;
}

.project.roland .icon img {
  width: 175px;
  height: 175px;
}

.project.to-do-list {
  background-image: url(/resources/projects/to%20do%20list%20screenshot.png);
}

.project.to-do-list:after {
  content: 'SCSS, jQuery';
}

.project.to-do-list .icon {
  background-color: #2196f3;
}

.project.to-do-list .icon i {
  font-size: 120px;
  color: #cddc39;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.clearfloat {
  clear: both;
}

.divider {
  width: 100%;
  height: 50px;
  background-color: #009A6C;
}

footer {
  padding: 20px 10px 0 10px;
  background-color: #083E7B;
  color: white;
}

footer > div {
  width: 33.33333%;
}

footer .about {
  padding: 0 10px;
}

footer .about img {
  float: left;
  display: inline-block;
}

footer .about p {
  float: left;
  display: inline-block;
}
