@-webkit-keyframes font-bounce {
  0%, 100% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  50% {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
}

@keyframes font-bounce {
  0%, 100% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  50% {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
}

header {
  position: absolute;
  top: 5vh;
  width: 100%;
  height: 10%;
  background-color: #083E7B;
  box-shadow: 0 5px 10px black;
}

header .navbar {
  position: absolute;
  right: 5vw;
  display: inline-block;
  width: 100%;
  max-width: 32vw;
  height: 100%;
  padding: 0;
}

header .navbar .nav-item {
  display: block;
  float: left;
  width: 33.33333%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
  text-align: center;
  text-decoration: none;
  color: white;
}

header .navbar .nav-item:last-child:hover:before,
header .navbar .nav-item:last-child.active:before {
  left: 81.66667% !important;
}

header .navbar .nav-item:last-child:hover:after,
header .navbar .nav-item:last-child.active:after {
  left: 66.66667% !important;
}

header .navbar .nav-item.active {
  color: #EA5100;
}

header .navbar .nav-item:hover {
  color: #EA5100;
}

header .navbar .nav-item li {
  font-family: teko;
  font-size: 1.5vw;
  font-weight: 300;
  letter-spacing: .5vw;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .indicator .nav-item:nth-child(1).active ~ .nav-item:last-child:after {
  left: 0%;
}

header .indicator .nav-item:nth-child(1).active ~ .nav-item:last-child:before {
  left: 15%;
}

header .indicator .nav-item:nth-child(1):hover ~ .nav-item:last-child:after {
  left: 0% !important;
}

header .indicator .nav-item:nth-child(1):hover ~ .nav-item:last-child:before {
  left: 15% !important;
}

header .indicator .nav-item:nth-child(2).active ~ .nav-item:last-child:after {
  left: 33.33333%;
}

header .indicator .nav-item:nth-child(2).active ~ .nav-item:last-child:before {
  left: 48.33333%;
}

header .indicator .nav-item:nth-child(2):hover ~ .nav-item:last-child:after {
  left: 33.33333% !important;
}

header .indicator .nav-item:nth-child(2):hover ~ .nav-item:last-child:before {
  left: 48.33333% !important;
}

header .indicator .nav-item:last-child:before,
header .indicator .nav-item:last-child:after {
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: .3s all ease-in-out;
          transition: .3s all ease-in-out;
}

header .indicator .nav-item:last-child:before {
  top: 0;
  left: 15%;
  width: 0;
  height: 0;
  margin: -.2%;
  border: .5vw solid transparent;
  border-top-color: #EA5100;
}

header .indicator .nav-item:last-child:after {
  z-index: -1;
  top: -7%;
  bottom: -15%;
  left: 0;
  width: 33.33333%;
  background-color: #EA5100;
}

.jumbotron {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 100vh;
  min-height: 300px;
  background-color: #009A6C;
  margin-bottom: 0;
}

.jumbotron .tagline {
  font-family: teko;
  font-size: 3vw !important;
  font-weight: 300;
  width: 85vw;
  margin: 0 auto;
  padding-top: 35vh;
  text-align: center;
  letter-spacing: .5vw;
  text-transform: uppercase;
  color: white;
}

.jumbotron .tagline h1 {
  font-size: 3vw;
}

@media (max-width: 800px) {
  .jumbotron .tagline h1 {
    font-size: 4vw;
  }
}

@media (max-width: 500px) {
  .jumbotron .tagline h1 {
    font-size: 7vw;
  }
}

.jumbotron .scroll-button-wrapper {
  position: absolute;
  bottom: 5vh;
  width: 100%;
}

.jumbotron .scroll-button-wrapper .scroll-button {
  font-family: dosis;
  font-size: 2vw;
  width: 20vw;
  margin: 0 auto;
  -webkit-transition: color 0.3s ease-in-out, -webkit-transform 0.5s ease-in-out;
          transition: color 0.3s ease-in-out, transform 0.5s ease-in-out;
  text-align: center;
  letter-spacing: .1vw;
  text-transform: capitalize;
  color: white;
}

.jumbotron .scroll-button-wrapper .scroll-button:hover {
  cursor: pointer;
  -webkit-transform: translateY(-15%);
      -ms-transform: translateY(-15%);
          transform: translateY(-15%);
  -webkit-animation: font-bounce 1s infinite 0.5s;
          animation: font-bounce 1s infinite 0.5s;
  color: #FF6E20;
}

.jumbotron .scroll-button-wrapper .scroll-button p {
  font-size: 2vw;
}

@media (max-width: 768px) {
  .jumbotron .scroll-button-wrapper .scroll-button p {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .jumbotron .scroll-button-wrapper .scroll-button p {
    font-size: 18px;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.project {
  position: relative;
  height: 300px;
  padding: 0;
  text-align: center;
  background-image: url(../resources/460x300.jpg);
  background-position: center;
  background-size: cover;
}

@media (max-width: 500px) {
  .project {
    height: 175px;
  }
}

.project:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: auto;
  padding: 5px;
  content: '';
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  text-align: left;
  opacity: 0;
  background-color: white;
}

.project:hover > .icon {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.project:hover:after {
  width: 100%;
  content: 'Placeholder text here.';
  opacity: 1;
}

.project .icon {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  text-align: center;
  background-color: black;
}

.project .icon img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
