header {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 92px;
    background-color: $color-secondary-1-3;
    box-shadow: 0 5px 10px black;

    @include tablet {
        height: 50px;
        box-shadow: none;
    }


    @include mobile {
        height: 40px;
        box-shadow: none;
    }


    .header-title {
        display: inline-block;
        position: absolute;
        color: $color-complement-0;
        font-family: teko, sans-serif;
        text-transform: uppercase;
        font-size: 38px;
        letter-spacing: 3px;
        margin-left: 10%;
        margin-top: 28px;

        @include tablet {
            font-size: 32px;
            margin-top: 12px;
        }


        @include mobile {
            display: none;
        }
    }

    .header-title-mobile {
        display: none;

        @include mobile {
            position: absolute;
            display: inline-block;
            color: $color-complement-0;
            font-family: teko, sans-serif;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 32px;
            margin-top: 5px;
            margin-left: 10%;
        }
    }

    .nav-display-button {
        // *Nav toggle button for mobile formats*
        font-family: teko;
        position: absolute;
        right: 5%;
        display: none;
        height: 100%;
        color: white;

        @include tablet {
            display: block;
        }


        p {
            font-size: 21px;
            font-weight: 300;
            display: inline-block;
            margin-right: 10px;
            text-transform: uppercase;

            @include verticalCenter;
        }

        button {
            width: 30px;
            height: 25px;
            border: none;
            border-radius: 5px;
            background-color: $color-primary-0;

            @include verticalCenter;
        }
    }

    .nav-wrapper {
        // *Target for "slideToggle"*
        position: absolute;
        right: 60px;
        width: 30%;
        min-width: 498px;
        height: 100%;

        @include tablet {
            top: 50px;
            right: 0;
            display: none;
            width: 100%;
            min-width: 0;
        }


        @include mobile {
            top: 40px;
        }


        .navbar {
            width: 100%;
            height: 100%;

            .nav-item {
                display: block;
                float: left;
                width: $width;
                height: 100%;
                margin: 0;
                padding: 0;
                transition: .3s ease-in-out;
                text-align: center;
                text-decoration: none;
                color: white;

                @include tablet {
                    float: none;
                    width: 100%;
                    border-top: 1px solid $color-primary-0;
                    border-bottom: 1px solid $color-primary-0;
                    background-color: $color-secondary-1-3;
                }


                @include mobile {
                    height: 40px;
                }


                &:last-child {
                    &:hover,
                    &.active {
                        &:before {
                            left: (100% - $width + 15%) !important;
                        }

                        &:after {
                            left: (100% - $width) !important;
                        }
                    }
                }

                &.active {
                    //*Nav item selection coloring*
                    color: $color-complement-0;
                }

                &:hover {
                    //Nav item selection coloring
                    color: $color-complement-0;
                }

                li {
                    //*Nav-item font styling*
                    font-family: teko;
                    font-size: 25px;
                    font-weight: 300;
                    letter-spacing: 7px;
                    text-transform: uppercase;

                    @include verticalCenter;

                    @include mobile {
                        font-size: 18px;
                    }
                }
            }

            // *END NAV-ITEM*
       
        }

        // *END NAVBAR*
   
    }

    // *END NAV-WRAPPER*
    .indicator {
        //*Sliding indicator animation*
        @for $i from 1 through $nav-items-loop-offset {
            .nav-item:nth-child(#{$i}).active ~ .nav-item:last-child:after {
                left: $width * $i - $width;
            }

            .nav-item:nth-child(#{$i}).active ~ .nav-item:last-child:before {
                left: $width * $i + 15% - $width;
            }

            .nav-item:nth-child(#{$i}):hover ~ .nav-item:last-child:after {
                left: ($width * $i - $width) !important;
            }

            .nav-item:nth-child(#{$i}):hover ~ .nav-item:last-child:before {
                left: ($width * $i + 15% - $width) !important;
            }
        }

        //*Sliding indicator styling*
        .nav-item:last-child {
            &:before,
            &:after {
                position: absolute;
                display: block;
                content: '';
                transition: .3s all ease-in-out;

                @include tablet {
                    display: none;
                }


                @include mobile {
                    display: none;
                }
            }

            &:before {
                top: 0;
                left: 15%;
                width: 0;
                height: 0;
                margin: -1px;
                border: 10px solid transparent;
                border-top-color: $color-complement-0;
            }

            &:after {
                z-index: -1;
                top: -7px;
                bottom: -15px;
                left: 0;
                width: $width;
                background-color: $color-complement-0;
            }
        }

        // *END INDICATOR STYLING*
   
    }

    // *END INDICATOR*
}

// *END HEADER*