// *Vertical align*
@mixin verticalCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

// *Tablet media query*
@mixin tablet {
    @media #{$tablet} {
        @content;
    }
}

// *Mobile media query*
@mixin mobile {
    @media #{$mobile} {
        @content;
    }
}