// *Project screenshot view*
.project {
    position: relative;
    height: 300px;
    padding: 0;
    text-align: center;
    background-image: url(../resources/460x300.jpg);
    background-position: center;
    background-size: cover;

    @include mobile {
        height: 175px;
    }


    // *Project keyword description*
    &:after {
        font-family: dosis, sans-serif;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: auto;
        padding: 5px 0 5px 15px;
        content: '';
        transition: all .5s ease-in-out;
        text-align: left;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.8);
    }

    // *Shrink icon on hover*
    &:hover > .icon {
        transform: scale(0);
    }

    // *Display keyword description on hover*
    &:hover:after {
        width: 100%;
        opacity: 1;
    }

    // *Project icons*
    .icon {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all .3s ease-in-out;
        text-align: center;
        background-color: black;

        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    // *END ICON*

    // *Individual project cell stylings*
    &.sage {
        background-image: url(../resources/projects/sage-screenshot.png);

        &:after {
            content: 'SCSS, jQuery';
        }

        .icon {
            background-color: #352d2f;

            img {
                width: 140px;
                height: 100px;
            }
        }
    }

    // *END SAGE*
    &.roland {
        background-image: url(/resources/projects/roland%20screenshot.png);

        &:after {
            content: 'SCSS';
        }

        .icon {
            background-color: #f54d02;

            img {
                width: 175px;
                height: 175px;
            }
        }
    }

    // *END ROLAND*
    &.to-do-list {
        background-image: url(/resources/projects/to%20do%20list%20screenshot.png);

        &:after {
            content: 'SCSS, jQuery';
        }

        .icon {
            background-color: #2196f3;

            i {
                font-size: 120px;
                color: #cddc39;

                @include verticalCenter;
            }
        }
    }

    // *END TO DO LIST*
}

.project.incomplete {
    &:hover > .icon {
        transform: none;
    }

    &:hover:after {
        opacity: 0;
    }

    .icon {
        background-color: lightgray;

        img {
            height: 75%;
            width: 75%;
        }
    }
}

.project.incomplete-alt {
    @extend .project.incomplete;

    .icon {
        background-color: $color-secondary-1-1;
    }
}

// *END PROJECT*