//
$color-primary-0: #009A6C;

// Main Primary color */
$color-primary-1: #3BB993;
$color-primary-2: #16B082;
$color-primary-3: #007C57;
$color-primary-4: #006043;

$color-secondary-1-0: #0B4E98;

// Main Secondary color (1) */
$color-secondary-1-1: #447BB8;
$color-secondary-1-2: #2265AF;
$color-secondary-1-3: #083E7B;
$color-secondary-1-4: #042F5F;

$color-secondary-2-0: #47CB00;

// Main Secondary color (2) */
$color-secondary-2-1: #7FE448;
$color-secondary-2-2: #61E11D;
$color-secondary-2-3: #39A300;
$color-secondary-2-4: #2C7E00;

$color-complement-0: #EA5100;

// Main Complement color */
$color-complement-1: #FF8E51;
$color-complement-2: #FF6E20;
$color-complement-3: #BC4200;
$color-complement-4: #913300;

// *Nav item width*
$nav-items: 3;
$nav-items-loop-offset: $nav-items - 1;
$width: 100 / $nav-items * 1%;

// *Portfolio width and height*
$portfolioItemsX: 3;
$portfolioItemsY: 2;
$portfolioWidth: 100 / $portfolioItemsX * 1%;
$portfolioHeight: 100 / $portfolioItemsY * 1%;

// *Media query widths*
$tablet: (max-width: 800px);
$mobile: (max-width: 500px);